body {
    margin: 0;
}

/* begin navbar styling */
.navbar {
    display: flex;
    border-color: blue;
    border-width: 0 0 5px 0;
    border-style: solid;
    margin: 0px;
    padding: 5px 0 0 0;
}


.navbar > ul {
    display: flex;
    width: 100%;
    padding-left: 0px; /* if a style is being stubborn or overwritten, try adding the !important tag to make it the highest level of specificity */
    justify-content: space-around;
}

/* specific navlink styling */
.navlink {
    display: inline-flex;
    border-style: solid;
    border-width: 2px;
    background-color: lightslategrey;
    border-color: blue;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}

.navlink > a {
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}

.navlink:hover{
    border-color: white;
    box-shadow: 0 0 10px 5px blue;
}


.navlink > a:link{
    color: white;
}


.navlink > a:hover{
    color: blue;
}

#active {
    color: blue;
}

#active:hover{
    color: white;
}

/* end navbar styling */

/* main content layout */

.content {
    background-color: rgb(151, 150, 150);
    display: flex;
    justify-content: space-around;
    padding: 2vh 0 0 0;
    flex-direction: column;
}

.column {
    display: flex;
    flex-direction: column;
    background-color: green;
}

.card {
    max-width: 100%;
    height: auto;
    padding: 5px;
}

#fox1 {
    max-width: 90%;
    max-height: 90%;
    height: auto;
}

#fox2 {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

#leftcol {
    max-width: 100%;
}

#rightcol {
    max-width: 100%;
}

@media(max-width: 2000px){
    #leftcol {
        max-width: 60%;
    }

    #rightcol {
        max-width: 30%;
    }
    
    .column {
        background-color: coral;
    }

    .content {
        flex-direction: row;
    }
}

@media(max-width: 1000px){
    #leftcol {
        max-width: 65%;
    }

    #rightcol {
        max-width: 33%;
    }
    
    .column {
        background-color: red;
    }

    .content {
        flex-direction: row;
    }
}
/* end main content layout */


#infobtn:hover {
    background-color: red;
    width: 100%;
}

#contentbox {
    margin-top: 2vh;
    max-width: 100%;
}

#contentbox > .row {
    width: 100%;
}

.card {
    margin-bottom: 1vh;
}